body{
    color: rgb(0, 0, 0);
    background: rgb(0, 38, 255);
    margin: 0px;
}

header{
    border-bottom: solid  2px rgba(207, 114, 27, 0.863);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 38, 255);
}

section{
    background: rgb(14, 219, 140);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}