body{
    color: rgb(0, 0, 0);
    background: rgb(59, 36, 189);
    margin: 0px;
}

header{
    border-bottom: solid  2px rgb(168, 196, 10);
    padding: 20px;
    font-size: 32px;
    color: blue;
}

section{
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}