body{
    color: rgb(0, 0, 0);
    background: rgb(0, 38, 255);
    margin: 0px;
    font-family: "Abril Fatface", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(0, 38, 255);
    padding: 20px;
    font-size: 32px;
    color: blue ;
}

.chamada{
    background: rgb(14, 219, 140);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 40px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: o.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

.categoria h2{
    color:blue
}



